<div class="gridHome">
    <div class="gridLeft"></div>
    <div class="gridCenter">
        <mat-card class="cardActionH">
            <mat-card-actions>
                <mat-card-title>
                    <h3 class="cardTitle">NOTES APP</h3>
                </mat-card-title>
            </mat-card-actions>
        </mat-card>
        <mat-card class="cardContentH">
            <mat-card-content>
                <p class="textHomeC">This is an example of Angular and Firebase elaborated by DSC STUDENT CLUB UCA. I wait to enjoy the example.</p>
                <div class="btnHomeS">
                    <a routerLink="/notes" class="btnH">Start</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="gridRight"></div>
</div>