<mat-toolbar class="nav1">
    <div class="divC">
        <a routerLink="/home" class="listC">Notes App</a>
        <ul class="listCN">
            <li class="listUL">
                <a routerLink="/notes" class="enlacesLi">
                    <i class="far fa-clipboard"></i> Notes
                </a>
            </li>
            <li class="listUL">
                <a routerLink="/notes" class="enlacesLi">
                    <i class="fas fa-plus"></i> Add Notes
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>